TelegramGoogleAgent.json
{
  "name": "Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        0
      ],
      "id": "8d7300b2-e217-4958-bdbc-a0537794cb6a",
      "name": "Telegram Trigger",
      "webhookId": "61216376-3d08-4a38-b1eb-dba4c199332e",
      "credentials": {
        "telegramApi": {
          "id": "MATjc2JRbikrIu59",
          "name": "Telegram account 7"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "86d4a213-357f-4068-8170-90c34f6b6fff"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "382b95d0-20f2-4cc1-a467-f3650034a904",
                    "leftValue": "=audio {{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        0
      ],
      "id": "d9f3ddcf-6237-43b2-9aac-629b22b31a43",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91513250-1b1c-4f57-bc3a-626d0b722b77",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -240
      ],
      "id": "c893889c-2ce5-4901-b019-43e8e0920aad",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Rolle & Ziel\nDu bist ein proaktiver und effizienter persönlicher Assistent. Dein Ziel ist es, Aufgaben schnell und präzise zu erledigen und dabei stets klar und verständlich zu kommunizieren.\n\n# Verhalten\nDeine Antworten sind in der Regel kurz und auf den Punkt gebracht. Bei komplexen Aufgaben, wie dem Entwurf einer E-Mail, nimmst du dir den nötigen Raum für Qualität.\n\n# Kontext\nHeutiges Datum und Uhrzeit: {{ $now }}\n\n## Tools\nDu hast Zugriff auf folgende Tools. Wähle und nutze sie eigenständig, um die Anfragen des Nutzers bestmöglich zu bearbeiten.\n\n## Gmail_Summary\nFasst den Inhalt von E-Mails zusammen.\n\n## Gmail_Send\nDient zum Versenden von E-Mails und folgt einem strikten Freigabeprozess:\n\n1. E-Mail entwerfen: Formuliere den vollständigen Inhalt der E-Mail.\n\nSchreibstil: Dein Stil ist professionell, aber persönlich – klar, prägnant und menschlich. Vermeide unbedingt steife Floskeln oder generische KI-Formulierungen.\n\nFormatierung: Nutze aktiv Markdown, um die E-Mail visuell ansprechend und lesbar zu gestalten. Verwende z.B. **fett** für Hervorhebungen, *kursiv* oder Aufzählungszeichen (- oder *).\n\nSignatur: Jede E-Mail wird ausnahmslos mit \"Grüße Vasili\" unterzeichnet.\n\n2. Freigabe einholen: Präsentiere den fertig formatierten Entwurf dem Nutzer und stelle eine kurze, klare Frage zur Freigabe, z.B.: \"Passt das so für dich?\" oder \"Soll ich die E-Mail so versenden?\".\n\n3. Senden nach Freigabe: Erst nach der expliziten Zustimmung des Nutzers aktivierst du das Gmail_Send Tool.\n\n## Calendar_Set\nTrägt neue Termine in den Kalender ein\nOptional: location, description, attendees (Wenn vorhanden).\n\n## Calendar_Get\nSucht nach Terminen im Kalender und informiert den Nutzer darüber.\n\n## Calendar_Delete\nLöscht einen bestimmten Termin aus dem Kalender.\n\n## Calendar_Update\nVerschiebt oder aktualisiert einen bestehenden Kalendereintrag.\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1248,
        -240
      ],
      "id": "667b987f-40f1-4a41-855f-0da7a70b5e11",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        48
      ],
      "id": "05df1926-002b-4505-9f33-32553228f07d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dKkt2psS7oX9IzPc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        96
      ],
      "id": "dccd6c62-5176-40f4-8362-4c4810bde494",
      "name": "Get a file",
      "webhookId": "bff7c65c-bc29-4c02-b372-2b4ebf82963f",
      "credentials": {
        "telegramApi": {
          "id": "MATjc2JRbikrIu59",
          "name": "Telegram account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        96
      ],
      "id": "6bdfb844-eb71-4b10-b32e-48b7274c2226",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "dKkt2psS7oX9IzPc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1360,
        48
      ],
      "id": "af382bbd-9057-4666-8b42-24c216e8d312",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1456,
        288
      ],
      "id": "bb16eae4-58f2-4fbd-a82e-a36925553950",
      "name": "Gmail_Summary",
      "webhookId": "06c619f7-03a2-4236-9f6d-b894df1543a4",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa5Njivzlz6mM5Ew",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -240
      ],
      "id": "977901c9-a6eb-4850-88ac-0dd302f5696e",
      "name": "Send a text message",
      "webhookId": "4166ff55-3440-4c56-8c10-36f2226d9d4b",
      "credentials": {
        "telegramApi": {
          "id": "MATjc2JRbikrIu59",
          "name": "Telegram account 7"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1568,
        288
      ],
      "id": "7f62d574-ea2d-4f68-9a68-177ac443cd90",
      "name": "Gmail_Send",
      "webhookId": "f20a13cc-daae-4fee-b781-a067950a0c6b",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa5Njivzlz6mM5Ew",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vasili.gerasimou@googlemail.com",
          "mode": "list",
          "cachedResultName": "vasili.gerasimou@googlemail.com"
        },
        "limit": 10,
        "timeMin": "={{ $fromAI(\"datum_und_uhrzeit_vom_start\") }}",
        "timeMax": "={{ $fromAI(\"datum_und_uhrzeit_vom_ende\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1776,
        432
      ],
      "id": "8f46789f-b30e-4fe6-a171-3107e82ef0ca",
      "name": "Calender_Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WoApT8McW3va3Gns",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "vasili.gerasimou@googlemail.com",
          "mode": "list",
          "cachedResultName": "vasili.gerasimou@googlemail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1904,
        432
      ],
      "id": "12259500-c8f3-4364-9f43-7349fbe80c09",
      "name": "Calender_Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WoApT8McW3va3Gns",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "vasili.gerasimou@googlemail.com",
          "mode": "list",
          "cachedResultName": "vasili.gerasimou@googlemail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\") }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2048,
        432
      ],
      "id": "246c4a45-2708-4a04-b2f0-063f5122340c",
      "name": "Calender_Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WoApT8McW3va3Gns",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc8bf6cd-ac8a-4f39-b2a6-be9ff2022577",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 5763133388,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "e81f5698-7d2d-48ca-9e76-1394dab3873e",
              "leftValue": "={{ $json.message.from.first_name }}",
              "rightValue": "Geronimoe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "id": "f21e4406-ec8c-463f-9f63-686c9467c505",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7d19c61-d2c8-4259-948c-59432436685b",
              "name": "text",
              "value": "={{$json.text || $json.transcription || $json.data?.text || ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        96
      ],
      "id": "969a6086-c80b-4dcb-9cb4-3547c4e51ccb",
      "name": "Normalize_Transscript"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vasili.gerasimou@googlemail.com",
          "mode": "list",
          "cachedResultName": "vasili.gerasimou@googlemail.com"
        },
        "start": "={{ $fromAI(\"datum_und_uhrzeit_vom_start\") }}",
        "end": "={{ $fromAI(\"datum_und_uhrzeit_vom_ende\") }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1664,
        432
      ],
      "id": "80298a44-176d-415e-964a-808ceef81cc3",
      "name": "Calender_Set",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WoApT8McW3va3Gns",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Normalize_Transscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender_Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender_Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender_Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Transscript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calender_Set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3da36c5e-3f24-43fc-8591-73e077084920",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d38dec92267f2db480498d463bef74bf6844b833c23aa93b1267ca2fdeb0a1d"
  },
  "id": "mZEB0q3UEGgufQIt",
  "tags": []
}